/** @format */

.main-screen {
  background-image: url("assets/images/bg3.png");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#login {
  background-image: url("assets/images/bg3.png");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.from-bg {
  background-color: rgb(27 69 53 / 93%);
}

textarea:focus,
input:focus {
  color: #ffff;
}

input,
select,
textarea {
  color: #000;
}

.form-input {
  width: 100%;
  background-color: transparent;
  border-width: 1px;
  border-color: rgb(227 156 26);
  border-style: none none solid none;
  padding-bottom: 10px;
  outline: 0;
  display: block;
}

.form-button {
  background-color: rgb(226 156 26) !important;
  color: white !important;
  width: 80%;
  display: block !important;
  margin: auto !important;
}

::placeholder {
  color: white;
}

.login-underline {
  width: 14px;
  height: 5px;
  background-color: rgb(227 155 26);
  display: block;
  margin-bottom: 24px;
}

.ps-sidebar-container .ps-menu-button:hover {
  background-color: rgba(207, 155, 10, 0.438) !important;
}

.MuiInputLabel-root {
  color: orange !important;
}

.css-l4u8b9-MuiInputBase-root-MuiInput-root {
  color: white !important;
}

.css-l4u8b9-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled,
  .Mui-error):before {
  border-bottom: 1px solid rgb(177 169 16) !important;
}

.css-l4u8b9-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid rgb(177 169 16) !important;
}

.css-wgai2y-MuiFormLabel-asterisk {
  display: none;
}

/* ::placeholder {
  color: rgb(255, 255, 255) !important;
} */

.dashboard-head {
  background-image: url('../src/assets/images/Rectangle.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

.bordr-lft {
  border-left: solid 3px rgb(227 156 26);
}